.App {

}

.todoList {
    width: 500px;
    margin: 0 auto;
}

.todoList > div {
    padding: 10px;
}

.todoList-task {
    position: relative;
}

.filter-active {
    background-color: blue;
}

.error {
    border-color: red;
}

.todoList-task.done {
    opacity: 0.5;
}

[data-tooltip]::after {
    font-size: 15px;
    z-index: 2;
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 280px; /* Ширина подсказки */
    right: 500px;
    top: 0; /* Положение подсказки */
    /*background: #3989c9; !* Синий цвет фона *!*/
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
}

[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
}

.btn {
    width: 22px;
    height: 19px;
    color: #c9222a;
    background-color: #e897a2;
}