.wrapper {
    background-color: #e897a2;
    height: 90px;
    display: flex;
    align-items: center;

}

.wrapper img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.container {
    /*border: blue dashed 1px;*/
    width: 230px;
    height: 66px;
    margin-left: 26px;
    background: #269991;
    position: relative;
    border-radius: 15px 15px 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2px;
    flex-wrap: wrap;
}

.container:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    top: calc(50% - -13px);
    border-bottom: 22px solid #269991;
    border-left: 33px solid transparent;
    /*border: 20px solid transparent;*/
    /*border-right: 20px solid green;*/
    /*border-bottom: 20px solid green;*/
}

.messageBlock {
    /*border: black dashed 1px;*/
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 9px;
}

.name {
    font-size: small;
    color: aquamarine;
}

.message {
    font-size: smaller;
    color: #a91314;
}

.time {
    margin-bottom: 4px;
    /* border: azure dashed 1px; */
    font-size: x-small;
    color: darkslategray;
    align-self: flex-end;
}