.bordo {
    display: flex;
    flex-direction: column;
    color: floralwhite;
    background-color: #3e0007;
    height: 100vh;
}

.rose {
    display: flex;
    color: #a90e32;
    background-color: #e0828d;

    composes: bordo;
}

.brut {
    color: #718a38;
    background-color: #ddf5cc;

    composes: bordo;
}

.iconWednesday {
    margin-bottom: 60px;

    color: #5a4144;
}
